<nav class="profile-menu">
    <ul>
        <li><a href="{% url 'profile' %}">Ваши данные</a></li>
        {% if role == 'Guest' or role == 'Student' %}
            <li><a href="{% url 'upload_file' %}">Документы</a></li>
        {% elif role == 'Teacher' %}
            <li><a href="{% url 'teacher_documents' %}">Документы</a></li>
        {% elif role == 'Director' or role == 'Management' %}
            <li><a href="{% url 'admission_requests_list' %}">Поступление</a></li>
            <li><a href="{% url 'classroom_list' %}">Классы</a></li>
            <li><a href="{% url 'director_file' %}">Загрузка документов</a></li>
        {% endif %}
        <li><a href="{% url 'password_change' %}">Сменить пароль</a></li>
        <li><a href="{% url 'logout' %}">Выход</a></li>
    </ul>
</nav>