{% extends 'index.html' %}
{% block title %}
    <title>Формы</title>
{% endblock %}
{% block content %}
    <div class="tabs-container">
        <div class="tabs">
            <button class="tab-link active" onclick="openTab(event, 'admission-form')">Заявка на поступление</button>
            <button class="tab-link" onclick="openTab(event, 'question-form')">Задать вопрос</button>
        </div>
    
        <div id="admission-form" class="tab-content-form" style="display: block;">
            <h2>Форма заявки на поступление</h2>
            <form method="post" enctype="multipart/form-data" class="custom-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="admission_form">
                {{ admission_form.as_p }}
                <button type="submit" class="submit-button">Отправить заявку</button>
            </form>
            {% if success_message %}
                <div class="alert-success" id="success-message">
                    {{ success_message }}
                </div>
            {% endif %}
        </div>
    
        <div id="question-form" class="tab-content-form" style="display: none;">
            <h2>Форма для вопросов</h2>
            <form method="post" enctype="multipart/form-data" class="custom-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="question_form">
                {{ question_form.as_p }}
                <button type="submit" class="submit-button">Отправить вопрос</button>
            </form>
            {% if success_message %}
                <div class="alert-success" id="success-message">
                    {{ success_message }}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const successMessage = document.getElementById("success-message");
            if (successMessage) {
                setTimeout(() => {
                    successMessage.style.display = "none";
                }, 5000);
            }
        });

        function openTab(event, tabId) {
            const tabContents = document.querySelectorAll('.tab-content-form');
            tabContents.forEach(tab => (tab.style.display = 'none'));
            
            const tabLinks = document.querySelectorAll('.tab-link');
            tabLinks.forEach(link => link.classList.remove('active'));
            
            document.getElementById(tabId).style.display = 'block';
            event.currentTarget.classList.add('active');
        }
    </script>
{% endblock %}
