<aside class="sidebar-menu">
    <ul>
        <li>
            <a href="{% url 'contacts' %}">Контакты организации</a>
            <a href="{% url 'teacher' %}">Педагогический состав</a>
            <a href="{% url 'document_list' %}">Документы</a>
            <a href="{% url 'facility' %}">Материально-техническое обеспечение и оснащенность образовательного процесса</a>
            <a href="{% url 'awards_and_licenses' %}">Награды и лицензии</a>
            <a href="{% url 'paid_services' %}">Платные образовательные услуги</a>
        </li>
    </ul>
</aside>
