<aside class="sidebar-menu">
    <ul>
        <li>
            <a href="{% url 'contacts' %}">Контакты организации</a>
            <a href="{% url 'teacher' %}">Педагогический состав</a>
            <a href="">Документы</a>
            <a href="{% url 'facility' %}">Материально-техническое обеспечение и оснащенность образовательного процесса</a>
            <a href="">Стипендии и меры поддержки обучающихся</a>
            <a href="">Платные образовательные услуги</a>
        </li>
    </ul>
</aside>
