{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Расписание для {{ school_class.name }}</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}
{% block content %}
    <div class="schedule-class-content">
        <h1 class="schedule-class-title">Расписание для {{ school_class.name }}</h1>

        <div class="table-container">
            <table class="schedule-table">
                <thead>
                <tr>
                    <th>День</th>
                    <th>№ урока</th>
                    <th>Предмет</th>
                    <th>Учитель</th>
                    <th>Начало</th>
                    <th>Конец</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in schedule %}
                    <tr>
                        <td>{{ entry.get_day_of_week_display }}</td>
                        <td>{{ entry.lesson_number }}</td>
                        <td>{{ entry.subject }}</td>
                        <td>{{ entry.teacher.last_name }} {{ entry.teacher.first_name }} {{ entry.teacher.patronymic }}</td>
                        <td>{{ entry.start_time|date:"H:i" }}</td>
                        <td>{{ entry.end_time|date:"H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="schedule-export-container">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="tab" value="schedule-tab">
                <button type="submit" name="export_schedule" value="1" class="export-btn">Скачать расписание</button>
            </form>
        </div>
    </div>
{% endblock %}
