.about-school-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.main-content {
    grid-column: span 3;
}

/* Меню */
.sidebar-menu {
    width: 250px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow-y: auto;
    border-radius: 5px;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li {
    margin-bottom: 15px;
}

.sidebar-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar-menu ul li a:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Контактная информация и геолокация */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-details {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.contact-details p {
    margin: 5px 0;
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Материально-техническое обеспечение */
.facility-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

select {
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

/* Документы */
.document-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.filter-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-form label {
    font-weight: bold;
}

.filter-form select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.document-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.icon-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-and-name h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.document-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.document-card p {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}

.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.download-link:hover {
    background-color: #0056b3;
}

/* Платные услуги */
.paid-services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.services-list a {
    text-decoration: none;
}

.service-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.service-card h2 {
    margin-bottom: 10px;
    color: #007bff;
}


.service-card a:hover {
    text-decoration: underline;
}

/* Детальные платные услуги */
.paid-service-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.back-link {
    text-decoration: none;
    background: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.back-link:hover {
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}

.service-detail {
    margin-top: 15px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-detail h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.service-detail p {
    margin: 10px 0;
    color: #555;
    font-size: 1rem;
}

.activity-link {
    text-decoration: none;
    background: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.activity-link:hover {
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}

.file-link {
    color: #007bff;
    text-decoration: none;
}

.file-link:hover {
    text-decoration: underline;
}


/* Награды и лицензии */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.card-image {
    width: 70%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.placeholder-image {
    background: #f4f4f4;
    color: #888;
    padding: 50px 15px;
    font-size: 0.9rem;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.card .date {
    font-size: 0.8rem;
    color: #999;
}