{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Жизнь школы</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/school_life.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}
{% block content %}
    <div class="layout-container">
        <aside>
            {% include 'school_life/menu.html' %}
        </aside>

        <div class="main-content">
            {% if blogs %}
                <h1 class="category-title">{{ current_category }}</h1>
                <div class="blog-list">
                {% for blog in blogs %}
                    <div class="blog-item">
                        {% if blog.image %}
                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="blog-image">
                        {% endif %}
                        <div class="blog-content">
                            <p class="blog-date"><strong>Дата публикации:</strong> {{ blog.pub_date }}</p>
                            <h2 class="blog-title">
                                <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                            </h2>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет записей в этой категории.</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
