{% extends 'index.html' %}

{% block title %}
    <title>Контактная информация</title>
{% endblock %}

{% block content %}
    <div class="contact-container">
        <h1>Контактная информация</h1>

        <div class="contact-details">
            <p><strong>Адрес:</strong> ул. Школьная, д. 10, г. Москва</p>
            <p><strong>Телефон:</strong> +7 (495) 123-45-67</p>
            <p><strong>Email:</strong> <a href="mailto:mail@simai.ru">mail@simai.ru</a></p>
            <p><strong>Сайт:</strong> <a href="http://obr.site/" target="_blank">http://obr.site/</a></p>
        </div>

        <h2>Наше местоположение</h2>
        <div id="map"></div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [55.7558, 37.6173],
                zoom: 12,
                controls: ['zoomControl', 'fullscreenControl']
            });
            var placemark = new ymaps.Placemark([55.7558, 37.6173], {
                balloonContent: '<strong>Средняя школа №42</strong><br>ул. Школьная, д. 10, г. Москва',
            }, {
                preset: 'islands#icon',
                iconColor: '#F05A28'
            });

            map.geoObjects.add(placemark);
        }
    </script>
{% endblock %}

